<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem {% block tittle %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script>

        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
</head>
<body class="bg-gray-50 dark:bg-gray-800">
{% include 'components/nav.html' %}
<div class="flex overflow-hidden pt-16 bg-gray-50 dark:bg-gray-900">

    {% include 'components/sidebar.html' %}


    <div id="main-content" class="overflow-y-auto relative w-full h-full bg-gray-50 lg:ml-64 dark:bg-gray-900">
        <main>
            <div class="px-4 pt-6">
            {% block content %}
            {% endblock %}

            </div>
        </main>
 <footer
                class="p-4 my-6 mx-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-center md:p-6 xl:p-8 dark:bg-gray-800">
                <p class=" text-sm text-center text-gray-500">
                Judul &copy; 2024.
            </p>

            </footer>

    </div>
</div>


<!--    <script src="{{url_for('static',filename='dist/js/flowbite.js')}}"></script>-->
<script src="{{url_for('static',filename='dist/js/app.bundle.js')}}"></script>
</body>
</html>